<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="chatbot.css">
    <title>챗봇과의 채팅</title>
</head>
<body>
    <div id="chatarea">
        <div id="chatting">
            <div id="chat-content">
                {% if qnalist %}
                    {% for question, answer in qnalist %}
                        <div class="message received">
                            <p><strong>질문:</strong> {{ question }}</p>
                        </div>
                        <div class="message sent">
                            <p><strong>답변:</strong> {{ answer }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <form id="chat-form" action="/chatbot" method="post">
            <input name="question" id="question" size="80" placeholder="챗봇에게 말을 걸어보세요!">
            <button type="submit">전송</button><br>
        </form>
    </div>
</body>
</html>
