html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(250, 235, 215);
  }

button{
    padding: 10px 30px;
    background-color:darkseagreen;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
  }
  